*{
    margin: 0;
    padding: 0;
}


body{

    background-color: rgb(116, 220, 111);
}


header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    font-weight: bolder;
    text-decoration: underline;
    
}

/* header{
    display: flex;
    align-items: center;
    justify-content: center;
} */

nav{
    margin-top:  20px;
    margin-left: 20vw;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
    font-weight: bold;
    font-size: x-large;
    
}

form{
    margin-top: 30px;
    font-weight: 500;
    font-size: larger;
}


section{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(238, 219, 219);
    line-height: 30px;
}

section h2{
    font-weight: bolder;
    font-size: xx-large;
    text-shadow: 4px 6px 8px black;
    color: white;
}

.flex{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    /* font-weight: bolder; */
    font-size: larger;
    font-variant: small-caps;
    margin-top: 170px;
    background-color: white;
    padding: 5px;
}